html {
    box-sizing: border-box;
}

*,
*::before,
*::after {
    box-sizing: inherit;
}

a {
    display: inline-block;
    text-decoration: none;
    color: inherit;
}

ul,
li,
p {
    margin: 0;
    padding: 0;
    list-style: none;
}

h1,
h2,
h3,
h4,
h5,
h6 {
    margin: 0;
}

body {
    color: #2f3035;
    font-family: "SFProDisplay-Regular", sans-serif;
    font-size: 20px;
    line-height: 24px;
}

.container {
    max-width: 1200px;
    padding: 0 15px;
    margin: 0 auto;
}

.page-section {
    margin-bottom: 80px;
}

header {
    margin-bottom: 78px;
}

.header__top-inner {
    display: flex;
    justify-content: space-between;
    align-items: center;
    font-family: "SFProDisplay-Bold", sans-serif;
    min-height: 122px;
}

.menu__item {
    display: inline-block;
}

.menu__item+.menu__item {
    padding-left: 50px;
}

.header__box {
    display: flex;
}

.header__address {
    width: 265px;
    margin-right: 65px;
    padding-left: 30px;
    position: relative;
}

.header__address::before {
    content: "";
    left: 0;
    bottom: 0;
    right: 0;
    top: -10px;
    background-image: url("../images/icons/address.svg");
    width: 30px;
    height: 30px;
    position: absolute;
}

.user-list__item {
    display: inline-block;
    margin-right: 10px;
}

.user-list {
    margin-right: 15px;
    display: flex;
    align-items: center;
}

.basket {
    position: relative;
}

.basket__num {
    position: absolute;
    width: 20px;
    height: 20px;
    font-size: 12px;
    line-height: 20px;
    text-align: center;
    background-color: #1c62cd;
    color: #fff;
    bottom: -14px;
    right: -14px;
    border-radius: 50%;
}

.menu-categories {
    display: flex;
    align-items: center;
    justify-content: space-around;
    background-color: #f0f0f4;
    min-height: 53px;
}

.menu-categories__link {
    padding: 15px 0 14px;
    position: relative;
}

.menu-categories__link::before {
    content: '';
    position: absolute;
    width: 0;
    left: auto;
    right: 0;
    bottom: 0;
    height: 3px;
    background-color: #1c62cd;
    transition: all .5s;
}

.menu-categories__link:hover::before {
    /* font-family: "SFProDisplay-Semibold"; */
    color: #000;
    font-weight: bold;
    width: 100%;
    right: auto;
    left: 0;
}

.banner-section__inner {
    display: flex;
    justify-content: space-between;
}

.banner-section__slider {
    max-width: 870px;
}

.banner-section__slider-btn {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    margin: 0;
    padding: 0;
    border: none;
    background-color: transparent;
    z-index: 5;
}

.banner-section__slider-btnprev {
    left: 20px
}

.banner-section__slider-btnnext {
    right: 20px
}

.slick-dots {
    position: absolute;
    bottom: 40px;
    left: 0;
    right: 0;
    text-align: center;
}

.slick-dots li {
    display: inline-block;
    padding: 0 5px;
}

.slick-dots button {
    padding: 0;
    font-size: 0;
    margin: 0;
    width: 11px;
    height: 11px;
    border-radius: 50%;
    border: 1px solid #fff;
    background-color: transparent;
}

.slick-active button {
    background-color: #fff;
}

.sale-item {
    max-width: 265px;
    border: 1px solid #CDCDCD;
    border-radius: 3px;
    text-align: center;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.sale-item__top {
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
}

.sale-item__info {
    background-color: #1C62CD;
    padding: 8px 20px;
    color: #fff;
    text-transform: uppercase;
    font-size: 12px;
    line-height: 15px;
    letter-spacing: 0.1em;
    flex-basis: auto;
}

.sale-item__price-new {
    font-weight: 700;
    font-size: 27px;
    line-height: 32px;
    color: #1C62CD;
    position: relative;
    margin-right: 6px;
}

.sale-item__price-old {
    font-weight: 400;
    font-size: 14px;
    line-height: 17px;
    color: #C4C4C4;
    display: inline-block;
    background-image: url('../images/icons/old-price-line.svg');
    background-repeat: no-repeat;
    background-size: cover;
    position: relative;
    margin-right: 6px;
}

.sale-item__price {
    text-align: right;
}

.sale-item__title {
    font-family: 'SFProDisplay-Bold', sans-serif;
    font-size: 18px;
    line-height: 21px;
    padding: 0 55px;
    margin-bottom: 7px;
}

.sale-item__footer {
    background-color: #F0F0F4;
    padding: 25px 20px;
    font-size: 18px;
    line-height: 21px;
}

.sale-item__footer span {
    font-family: 'Barlow', sans-serif;
    color: #1C62CD;
    font-weight: 700;
    font-size: 18px;
    line-height: 22px;
}

.banner-section__slider-img {
    object-fit: cover;
    min-height: 400px;
}

.sale-item__img {
    object-fit: contain;
}

.search__tabs {
    margin-bottom: 25px;
}

.search__tabs-item {
    padding: 12px 26px;
    color: #2F3035;
    line-height: 24px;
}

.search__tabs-item.tab--active {
    font-family: 'SFProDisplay-Bold', sans-serif;
    font-weight: 700;
    line-height: 24px;
    background: #F0F0F4;
    border-radius: 5px;
}

.search__content-item {
    display: none;
}

.search__content-item.tab-content--active {
    display: block;
}

.search__content-input {
    background: #F0F0F4;
    border: none;
    padding: 15px 20px;
    width: 100%;
}

.search__content-form {
    display: flex;
}

.search__content-input::placeholder {
    font-size: 16px;
    line-height: 19px;
}

.search__content-btn {
    font-family: 'SFProDisplay-Bold', sans-serif;
    font-weight: 700;
    padding: 0 40px;
    border: none;
    background: #1C62CD;
    border-radius: 3px;
    color: #fff;
    text-transform: uppercase;
    font-size: 14px;
    line-height: 17px;
    letter-spacing: 0.12em;
    left: -3px;
}

.categories__inner {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
}

.categories__item {
    width: 370px;
    margin-bottom: 30px;
    background: #FFFFFF;
    padding: 20px 20px 14px;
    border: 1px solid #CDCDCD;
    box-sizing: border-box;
    border-radius: 3px;
    display: flex;
    transition: all 0.3s;
}

.categories__item:hover {
    background: #FFFFFF;
    box-shadow: 3px 3px 20px rgba(50, 50, 50, 0.25);
    border-radius: 3px;
}

.categories__item:hover .categories__item-title {
    font-family: 'Barlow', sans-serif;
    font-weight: 700;
    font-size: 23px;
    line-height: 28px;
    color: #1C62CD;
}

.categories__item-info {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    width: 50%;
}

.categories__item-title {
    font-family: 'Barlow', sans-serif;
    font-weight: 700;
    font-size: 23px;
    line-height: 28px;
    color: #2F3035;
}

.categories__item-text {
    font-size: 14px;
    line-height: 17px;
    color: #C4C4C4;
}

.categories__item-text::after {
    content: url('../images/icons/link-arrow.svg');
    padding-left: 2px;
}

.categories__item-img {
    text-align: center;
    width: 50%;
}

.categories__item-img img {
    max-width: 100%;
}

.product__slider-wrapper {
    position: relative;
    width: 271px;
}

.product__item {
    padding: 52px 20px 31px;
    border: 1px solid #CDCDCD;
    border-radius: 3px;
    text-align: center;
    transition: all .3s;
}

.product__item-favorite {
    position: absolute;
    top: 16px;
    right: 16px;
    width: 24px;
    height: 22px;
    border: 0;
    outline: 0;
    background: transparent;
}

.product__item-favorite::before {
    content: '';
    position: absolute;
    left: 0;
    top: 0;
    width: 24px;
    height: 22px;
    background-image: url('../images/icons/favorite.svg');
}

.product__item-favorite--active::before {
    background-image: url('../images/icons/favorite-active.svg');
}

.product__item-basket {
    position: absolute;
    bottom: 0;
    right: 0;
    width: 60px;
    height: 40px;
    padding: 10px 14px;
    background: #1C62CD;
    border-radius: 10px 0px 0px 0px;
    border: none;
    outline: none;
}

.product__item-title {
    font-family: 'SF Pro Display', sans-serif;
    font-weight: normal;
    font-size: 18px;
    line-height: 21px;
    margin-bottom: 25px;
}

.price {
    font-family: 'Barlow', sans-serif;
    position: relative;
}

.product__item-price {
    font-size: 30px;
    line-height: 36px;
    font-weight: 700;
}

.product__item-text--hover {
    position: absolute;
    top: 50%;
    left: 50%;
    margin-right: -50%;
    transform: translate(-50%, -50%);
    background: rgba(255, 255, 255, .9);
    box-shadow: 0px 0px 15px rgba(0, 0, 0, 0.2);
    border-radius: 3px;
    padding: 18px 22px;
    opacity: 0;
    width: 230px;
    height: 61px;
    transition: all 0.3s;
}

.product__item:hover .product__item-text--hover {
    opacity: 1;
    color: #2f3035;
}

.product__item:hover {
    box-shadow: 3px 3px 20px rgba(50, 50, 50, 0.25);
    color: #1C62CD;
}

.product__item--sale::before {
    content: 'sale';
    position: absolute;
    top: 0;
    left: 0;
    text-transform: uppercase;
    color: #fff;
    background: #1C62CD;
    padding: 6px 15px;
    font-size: 12px;
    line-height: 14px;
    letter-spacing: 0.07em;
    F
}